h1 {
    margin: 0;
}

.App {
    max-width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    height: 90%;
    width: 70%;
    margin: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    width: 100%;
    justify-content: center;
    border-top: 1px solid black;
    padding-bottom: 10px;
}

.inputs-item {
    width: 50%;
    height: 100%;
}

.inputs-item input {
    width: 100%;
}

.strings {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
}

.strings-item {
    display: flex;
    flex-direction: column-reverse;
}

.strings-item form {
    margin-bottom: 5px;
}

.strings-item p {
    margin: 0;
    margin-bottom: 5px;
}

.strings-item__price {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
}

.strings-item__name_option {
    display: flex;
    flex-direction: column-reverse;
    height: 100px;
    justify-content: center;
    border-top: 1px solid #000;
    margin-top: 5px;
}

.strings-item__name_option form {
    display: flex;
    gap: 10px
}

.string {
    width: 20px;
    background: #acaaaa;
}

.string.min-price {
    background: black;
}

@media (min-width: 768px) {
    .App {
        flex-direction: column;
    }

    .strings {
        flex-direction: column; 
    }
    
    .strings-item__price {
        flex-direction: row;
    }

    .strings-item {
        flex-direction: column;
        padding: 10px 0;
    }

    .strings-item + .strings-item {
        border-top: 1px solid black;
    }

    .inputs {
        flex-direction: row;
        gap: 50px;
        margin-top: 0px;
        border-bottom: 1px solid black;
        border-top: 0;
    }

    .string {
        height: 20px;
    }
}